@charset "UTF-8"

* {
    box-sizing:border-box;
}


body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.welcome {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* font-size: 4em;
    text-transform: lowercase; */
}

a:link, a:visited {
    /* display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center; */
    font-size: 4em;
    text-transform: lowercase;
    color:midnightblue;
    text-decoration: none;
}

.hidden {
    opacity: 0;
    
}

.hidden:hover {
    color:#F98383;
    opacity: 100;
}

#enter, #enter:visited {
    text-align: right;
    font-size: 2em;
    color:#F98383;
}

#enter:hover {
    opacity: 0;
}

.padded {
    margin: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#abs {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 300px;
    top: 34px;
    font-size: 12px;
}