@charset "UTF-8"

* {
    box-sizing:border-box;
}


body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: transparent;
}

.welcome {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* font-size: 4em;
    text-transform: lowercase; */
    color:midnightblue;
    font-size: 4em;
}

a:link, a:visited {
    /* display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center; */
    /* font-size: 4em; */
    /* text-transform: lowercase; */
    color: inherit;
    text-decoration: none;
}

.hidden {
    color:white;
    z-index: 1;
    /* opacity: 0; */
    
}

.hidden:hover {
    color:#F98383;
    /* opacity: 100; */
}

.hidden:active {
    opacity: 100;
}

.enter, .enter:visited {
    text-align: right;
    font-size: 2em;
    color:#F98383;
}


.enter:hover{
    color: white;
    opacity: 100%;
}


.bg {
    display: none;
    /* color: white; */
    position: absolute;
    z-index: -1;
    /* opacity: 10%; */
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color:rgb(157, 194, 216);
  }
  
.showhim:hover .bg {
    display: block;
}




.padded {
    margin: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#abs {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 300px;
    top: 34px;
    font-size: 12px;
}